<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/myPage.css" />

<head>
    <script type="application/javascript" src="/jss/user/review.js?version='3'"></script>
    <script type="application/javascript" src="/jss/common/Cookie.js?version='1'"></script>
    <script type="application/javascript" src="/jss/common/ajax.js"></script>
    <script type="application/javascript" src="/jss/user/scrap.js"></script>
    <script type="application/javascript" src="/jss/user/order.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/boardDetail.css" type="text/css">
    <link rel="stylesheet" href="/css/review.css" type="text/css"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <title>마이 페이지</title>
    <style>
        input:disabled {
            background: #FFFFFF !important;
        }
    </style>
</head>
<body>

<div th:replace="~{template/fragment/myPageHeader::header}"></div>

<div class="listContainer">
    <div class="mainContentBox">
        <a type="button" th:href="@{/myPage/user}" class="item">
            <div class="text">내 정보 조회</div>
        </a>
        <a type="button" th:href="@{/myPage/user/modify}" class="item">
            <div class="text">내 정보 수정</div>
        </a>
        <a type="button" th:href="@{/myPage/MyOrderItems}" class="item">
            <div class="text">구매 내역</div>
        </a>
        <a type="button" onclick="$review.getReviews()" class="item">
            <div class="text">리뷰 내역</div>
        </a>
        <a type="button" th:href="@{/user/qnas}" class="item">
            <div class="text">문의사항</div>
        </a>
        <a type="button" th:href="@{/myPage/myCoupon}" class="item">
            <div class="text">쿠폰</div>
        </a>
        <a type="button" th:href="@{/myPage/myScraps}"class="item">
            <div class="text">내 찜 내역</div>
        </a>
    </div>
    <div class="mainContent" id="content" style="margin-left: 250px">

        <div style="text-align: center" class="mypage-conts">
            <div class="title-area linezero">
            </div>
            <table class="board-list-2s mgT20 new">
                <colgroup>
                    <col style="width:49%;">
                    <col style="width:39%;">
                    <col style="width:12%;">
                </colgroup>
                <thead>
                <tr>
                    <th style="text-align:center; color:#D19C97" scope="col">상품</th>
                    <th style="text-align:center; color:#D19C97" scope="col" colspan="2">구매일자</th>
                </tr>
                </thead>
                <tbody>


                <span th:each="orderItems:${result['rtnObj']['orderItems']}">
                            <tr>
                                <td class="subject">
                                    <div class="area">
                                        <div class="area"style="text-align: center">
                                            <a class="thum" th:href="@{/item/{itemId}(itemId = ${orderItems['itemId']})}">
                                                <img style="width: 15px; height: 15px" th:src="${orderItems['url']}"
                                                     alt="아이템이미지">
                                            </a>
                                            <div class="textus">
                                                <a class="" th:href="@{/item/{itemId}(itemId = ${orderItems['itemId']})}" data-attr="리뷰^리뷰상품^상품클릭">
                                                    <span class="tit"
                                                          th:text="${orderItems['category']}">아이템 종류(카테고리)넣으세요</span>
                                                    <span class="txt oneline" th:text="${orderItems['orderItemName']}"
                                                          style="color: #666;">아이템 이름 넣으세요</span>
                                                    <p class="txt_option"
                                                       th:text="${orderItems['orderItemOptionName']}">옵션 이름 넣으세요</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="subject">
                                    <div class="area">
                                        <div class="textus" style="width:90%;">
                                            <dl class="data review-data" style="text-align: center">
                                                <dt>구매일자</dt>
                                                <dd th:text="${#temporals.format(orderItems['orderDate'],'yyyy-MM-dd')}">구매일자</dd>
                                            </dl>
                                            <div class="rating">

                                                <span class="txt"></span>
                                                <span class="point pt5"></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td th:if = "${orderItems['reviewed'] == false}" >
                                    <a type="button" class="btn-review--small"  data-write-yn="Y" th:href="@{|/reviewForm/${orderItems['orderItemId']}|}">리뷰쓰러가기</a><br>
                                </td>
                            </tr>
                            </span>
                </tbody>
            </table>

            <!-- 공통 딤처리 -->
            <div class="dim"></div>
            <!-- //공통 딤처리 -->

        </div>

    </div>
</div>


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">리뷰 내역</h4>
                </div>

                <div id="imgDiv" class="modal-body" style="text-align:center;">
                    <img style="width: 200px; height: 200px" src="" alt="아이템이미지">
                </div>

                <div id="modal-body" class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div th:replace="~{template/fragment/myPageFooter::footer}"></div>
</body>
</html>