<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰 작성</title>
    <link rel="stylesheet" href="/css/qna.css" type="text/css"/>
    <style>
        li {
            list-style: none;
        }
        form {
            width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

<div class="pop-conts">
    <form th:action=@{'/myPage/review/'+${orderItemId}} method="post" th:object="${reviewFormDTO}" enctype="multipart/form-data">
        <h1 class="ptit">상품 리뷰작성</h1>
        <!-- [s] 2021.04.19 modify -->
        <div class="mypage-qna-write disabled">
            <div class="optionSec">
            </div>
            <label><input type="radio" name="rate" value="5.0"> 5</label>
            <label><input type="radio" name="rate" value="4.0"> 4</label>
            <label><input type="radio" name="rate" value="3.0"> 3</label>
            <label><input type="radio" name="rate" value="2.0"> 2</label>
            <label><input type="radio" name="rate" value="1.0"> 1</label>

            <p class="common4s-text"></p>

            <!-- 등록제한이 없는 한줄상품평 작성 -->
            <div class="reviews-write">
                <textarea cols="5" rows="1" id="gdasCont" name="gdasCont" th:field="*{content}" placeholder="리뷰를 작성해 주세요."></textarea>
                <p><li>파일<input type="file" th:field="*{img}" ></li></p>
            </div>
            <!-- 등록제한이 없는 한줄상품평 작성 -->

            <div class="btnGroup">
                <button type="submit" class="btnGray" >등록</button>
            </div>
            <div class="usage-guide">
                <h2 class="stit">이용안내</h2>
                <ul>
                    <li>재판매글, 상업성 홍보글, 미풍양속을 해치는 글  등 상품 리뷰의 취지에 어긋나는 글은 삭제될 수 있습니다.</li>
                </ul>
            </div>
        </div>
    </form>
</div>
</body>
</html>