<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment">

    <script th:src="@{/js/administrator/sb-admin-2.min.js}"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script th:src="@{/js/administrator/userManage.js}" defer></script>
    <script th:src="@{/js/administrator/categoryManage.js}" defer></script>
    <script th:src="@{/js/administrator/itemManage.js}" defer></script>
    <script th:src="@{/js/administrator/noticeManage.js}" defer></script>
    <script th:src="@{/js/administrator/orderManage.js}" defer></script>
    <script th:src="@{/js/administrator/qnaManage.js}" defer></script>
</th:block>
</html>

