<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <div>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text">MetaShop</div>
            </a>
            <div style="text-align: center; font-size: 1rem; font-weight: 800; color: #FFFFFF">관리자 페이지</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            MENU
        </div>

        <!-- Nav Item - 회원 관리 -->
        <li class="nav-item">
            <a class="nav-link" type="button" th:href="@{/admin/user/list}" >
                <i class="fas fa-fw fa-chart-area"></i>
                <span>회원 관리</span>
            </a>
        </li>

        <!-- Nav Item - 상품 관리 -->
        <li class="nav-item">
            <a class="nav-link" type="button" th:href="@{/admin/itemList}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>상품 관리</span></a>
        </li>


        <!-- Nav Item - 주문 관리 -->
        <li class="nav-item">
            <a class="nav-link" type="button" th:href="@{/admin/OrderItems}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>주문 관리</span></a>
        </li>

        <!-- Nav Item - 카테고리 관리 -->
        <li class="nav-item">
            <a class="nav-link" type="button" th:href="@{/admin/couponList}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>쿠폰 관리</span></a>
        </li>

        <!-- Nav Item - 공지사항 -->
        <li class="nav-item">
            <a class="nav-link" type="button" th:href="@{/admin/notice/list}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>공지사항</span></a>
        </li>

        <!-- Nav Item - 문의사항 -->
        <li class="nav-item">
            <a class="nav-link" type="button" th:href="@{/admin/qnas}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>문의사항</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">



    </ul>
    <!-- End of Sidebar -->

</th:block>

</html>