<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5" style="margin-top: 600px">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">Meta</span>Shop</h1>
                </a>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 서울, 대한민국</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+8210 1234 5678</p>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <div class="text-dark font-weight-semi-bold" href="#">Metashop</div>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="../../../../../../eshopper-main/eshopper-main/img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="mainPage/lib/easing/easing.min.js"></script>
    <script src="mainPage/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mainPage/mail/jqBootstrapValidation.min.js"></script>
    <script src="mainPage/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="mainPage/js/main.js"></script>
</div>
</html>