
<header th:fragment="header">
<body>
<div class="wrap">
    <div class="greenContainer">
        <div>
            <div class="grade">프리미엄 회원</div>
            <div class="name">홍길동</div>
        </div>
        <div class="modify">i</div>
    </div>

    <div class="shippingStatusContainer">
        <div class="title">

        </div>
        <div class="status">

            <div class="item">
                <div>
                    <div class="green number">6</div>
                    <div class="text">장바구니</div>
                </div>

            </div>

            <div class="item">
                <div>
                    <div class="green number">1</div>
                    <div class="text">배송중</div>
                </div>

            </div>
            <div class="item">
                <div>
                    <div class="green number">3</div>
                    <div class="text">적립금</div>
                </div>
            </div>
        </div>
    </div>

</header>