<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">
<!-- side bar -->
<div class="listContainer">
    <div class="mainContentBox">
        <a type="button" th:href="@{/myPage/user}" class="item">
            <div class="text">내 정보 조회</div>
        </a>
        <a type="button" onclick="$exam.exam()" class="item">
            <div class="text">내 정보 수정</div>
        </a>
        <a type="button" onclick="$exam.exam()" class="item">
            <div class="text">구매 내역</div>
        </a>
        <a type="button" onclick="$review.getReviews()" class="item">
            <div class="text">리뷰 내역</div>
        </a>
        <a type="button" onclick="$exam.exam()" class="item">
            <div class="text">문의사항</div>
        </a>
        <a type="button" onclick="$exam.exam()" class="item">
            <div class="text">쿠폰 / 적립금</div>
        </a>
    </div>

</div>
</th:block>
</html>