<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<th:block layout:fragment="content">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/guide.css" />
        <link rel="stylesheet" type="text/css" href="/css/content.css" />
        <script type="text/javascript" src="/scripts/jquery-ui/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/common/common-ui.js"></script>
<style>
    .btn_submit {
        display: inline-block;
        outline: none;
        cursor: pointer;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        padding: 2px 15px;
        min-width: 60px;
        border: none;
        color: #2e59d9;
        background-color: #fff;
        border: 2px solid;
        border-color: #2e59d9;
        transition: background-color .17s ease,color .17s ease;
    }
</style>
    </head>

    <div id="wrap">

        <!-- container -->
        <div id="container">

            <!-- lnb -->
            <!-- lnb -->

            <!-- contents -->
            <div class="contents">

                <!-- table -->
                <div class="title">
                <span class="brd_rtop mgb10">
					<span class="btn_submit"><a href="/admin/couponList" style="color:#2e59d9;">쿠폰 목록</a></span>
                </span>
                </div>

                <!-- table_detail -->
                <form action="/admin/newCoupon" method="post" enctype="multipart/form-data">

                    <table class="brd_detail">
                        <caption></caption>
                        <colgroup>
                            <col width="25%" />
                            <col width="75%" />
                        </colgroup>
                        <tbody>

                        <tr>
                            <th>쿠폰 이름 <img src="/images/mone/star.gif" alt=""/></th>
                            <td><input name="couponName" type="text" class="" style="width:200px;"/></td>
                        </tr>
                        <tr>
                            <th>할인 금액</th>
                            <td><input name="discountPrice" type="number" class="" style="width:200px;"/></td>
                        </tr>
                        <tr>
                            <th>할인율</th>
                            <td><input name="discountRate" type="number" class="" style="width:200px;"/></td>
                        </tr>
                        <tr>
                            <th>쿠폰 설명</th>
                            <td><textarea name="description" cols="50" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <th>쿠폰 사용 가능일</th>
                            <td><input name="startNum" type="number" class="" style="width:200px;"/></td>
                        </tr>
                        <tr>
                            <th>쿠폰 만료일</th>
                            <td><input name="endNum" type="number" class="" style="width:200px;"/></td>
                        </tr>
                        <tr>
                            <th>사용 최소 금액</th>
                            <td><input name="minBound" type="number" class="" style="width:200px;"/></td>
                        </tr>

                        </tbody>


                    </table>


                    <div class="brd_btn">
				<span class="right">
					<span class="btn_orange">
                        <input type="submit" class="btn_submit" value="등록" style="height: 30px">
                    </span>
				</span>
                    </div>

                </form>
                <!-- table_detail -->

            </div>
            <!-- contents -->

        </div>
        <!-- container -->

        <!-- footer -->
        <div id="footer"></div>
        <!-- footer -->

    </div>
    
</th:block>
</html>