<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/board.css" type="text/css">
</head>
<th:block layout:fragment="content">
    <div id="commonField">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">공지사항</h2>
                </div>
            </div>
            <div class="row">
                <div style="display: inline-block; margin: 0 5px;  padding-left: 995px; ">
                    <button class="sub-btn"><a th:href="@{/admin/notice/write}">공지사항 등록</a></button>
                </div>
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th style="background-color: #2e59d9">번호</th>
                                <th style="background-color: #2e59d9">제목</th>
                                <th style="background-color: #2e59d9">등록일</th>
                                <th style="background-color: #2e59d9">조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="alert" role="alert" th:each="notice : ${listPage}">
                                <th scope="row"th:text="${notice.noticeId}"></th>
                                <td>
                                    <a th:text="${notice.title}" th:href="@{/admin/notice/detail(noticeId=${notice.noticeId})}"></a>
                                </td>
                                <td th:if = "${notice.modifyDate == null}" th:text="${#temporals.format(notice.registerDate,'yyyy-MM-dd')}"></th:if>
                                </td>
                                <td th:unless = "${notice.modifyDate == null}" th:text="${#temporals.format(notice.modifyDate,'yyyy-MM-dd')}"></th:if>
                                </td>
                                <td th:text="${notice.views}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <nav style="text-align: center;">
        <ul class="pagination pagination justify-content-center"
            th:with="start=${T(java.lang.Math).floor(listPage.number/5)*5 + 1},
                    last=(${start + 4 < listPage.totalPages ? start + 4 : listPage.totalPages})">
            <li class="page-item">
                <a class="page-link" th:href="@{/admin/notice/list(page=1)}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only" aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${listPage.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${listPage.first} ? '#' :@{/admin/notice/list(page=${listPage.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == listPage.number + 1} ? 'active'" class="page-item">
                <a class="page-link" th:text="${page}" th:href="@{/admin/notice/list(page=${page})}"></a>
            </li>

            <li th:class="${listPage.last} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${listPage.last} ? '#' : @{/admin/notice/list(page=${listPage.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li>
                <a class="page-link" th:href="@{/admin/notice/list(page=${listPage.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only" aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</th:block>
</html>