<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>공지사항 수정</title>
</head>
<th:block layout:fragment="content" style="width: 65%">
    <!-- Begin Page Content -->
    <div class="container">
        <h2>공지사항 수정</h2>
        <form th:action="@{/notice/update/{noticeId}(noticeId = ${notice.noticeId})}" method="post">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" name="title" th:value="${notice.title}" maxlength="40"></td>
                </tr>
                <tr>
                    <td><textarea type="text" class="form-control" name="content" th:text="${notice.content}" maxlength="1024" style="height: 400px;"></textarea></td>
                </tr>
                </tbody>
            </table>
            <button class="list-btn" th:onclick="|location.href='@{/notice/list}'|">목록</button>
            <input type="submit" class="btn btn-primary pull-right" style="background-color: #4e555b; border-color: #4e555b" value="수정하기">
        </form>
    </div>
</th:block>
</html>