<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/boardDetail.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>공지사항 수정</title>
</head>
<th:block layout:fragment="content" >
    <!-- Begin Page Content -->
    <div class="container" >
        <h2>공지사항 수정</h2>
        <form th:action="@{/admin/notice/update/{noticeId}(noticeId = ${notice.noticeId})}" method="post" id="notice_form">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" name="title" th:value="${notice.title}" maxlength="40"></td>
                </tr>
                <tr>
                    <td><textarea type="text" class="form-control" name="content" th:text="${notice.content}" maxlength="1024" style="height: 400px;"></textarea></td>
                </tr>
                </tbody>
            </table>
          </form>
        <button class="list-btn" th:onclick="|location.href='@{/admin/notice/list}'|" style="margin-top: 0px">목록</button>
        <button class="btn btn-primary pull-right" style="background-color: white; border: 2px solid; border-color: #2e59d9; color: #2e59d9;" id="submit_btn" >수정하기</button>

    </div>

    <script>
        window.onload = function() {
            document.getElementById('submit_btn').onclick = function() {
                document.getElementById('notice_form').submit();
                return false;
            };
        };
    </script>
</th:block>
</html>