<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainPageLayout}">
<th:block layout:fragment="content">
    <div id="commonField">
    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">인기 상품들</span></h2>
        </div>

        <div class="row px-xl-5 pb-3" >
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1" th:each=" item:${items}" th:onclick=" 'location.href='+'\''+@{'/item/'+${item.itemId}}+'\''" >
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <!--/*@thymesVar id="itemUrl" type=""*/-->
                        <img class="img-fluid w-100" th:src="${item.imgUrl}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3" th:text="${item.itemName}"></h6>
                        <div class="d-flex justify-content-center">
                            <h6 th:text="${item.price}"></h6><h6 class="text-muted ml-2"><del th:text="${item.price}"></del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a th:href="'/item/'+${item.itemId}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->
    </div>
</th:block>
</html>