<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>관리자_문의사항목록</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/board.css" type="text/css">
</head>
<th:block layout:fragment="content">
    <div id="commonField">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">주문내역</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th style="background-color: #2e59d9">번호</th>
                                <th style="background-color: #2e59d9">주문일자</th>
                                <th style="background-color: #2e59d9">주문자</th>
                                <th style="background-color: #2e59d9">수령인</th>
                                <th style="background-color: #2e59d9">배송지</th>
                                <th style="background-color: #2e59d9">총 주문가격</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="alert" role="alert" th:each="order : ${result['rtnObj']['orders']}">
                                <th scope="row"th:text="${order['orderId']}"></th>
                                <td th:text="${#temporals.format(order['orderDate'],'yyyy-MM-dd')}"/>
                                <td scope="row"th:text="${order['userName']}"></td>
                                <td scope="row"th:text="${order['recipient']}"></td>
                                <td scope="row"th:text="${order['address']}"></td>
                                <td scope="row"th:text="${order['totalPrice']}"></td>
                                <!--<td scope="row"th:if="${qna.replied == 0}">미답변</td>
                                <td scope="row"th:unless="${qna.replied == 1}">답변완료</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</html>