<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/adminLayout}">
<th:block layout:fragment="content">
	<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>melite</title>
<link rel="stylesheet" type="text/css" href="/css/default.css" />	
<link rel="stylesheet" type="text/css" href="/css/guide.css" />	
<link rel="stylesheet" type="text/css" href="/css/content.css" />	
<script type="text/javascript" src="/scripts/jquery-ui/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/common/common-ui.js"></script>
<style type="text/css">
</style>
</head>
<body>
<div id="wrap">
    <!-- header -->
   <!-- container -->
    <div id="container">

		<!-- lnb -->
		<!-- lnb -->

		<!-- contents -->
    	<div class="contents">

			<!-- location -->
            <div class="location"><a href="/admin/main">Admin</a> &gt; <a href="/admin/itemList">상품관리</a> &gt; <a href="#"><span class="txt_w">상품수정</span></a></div>
			<!-- location -->

			<!-- table -->	
          	<div class="title">
                <span class="brd_rtop mgb10">
					<span class="btn_orange"><a href="#">List</a></span>
                </span>
            </div>

			<!-- table_detail -->
			<form action="/admin/updateItem" method="post" enctype="multipart/form-data">
				
			<table class="brd_detail">
				<caption>Manager Update</caption>
				<colgroup>
					<col width="25%" />
					<col width="75%" />
				</colgroup>
				<tbody>
				<tr>
					<th>상품 번호 </th>
					<td><input type="hidden" name="itemId" th:value="${itemFormDto.itemId}"><p id="itemId"  th:text="${itemFormDto.itemId}"></td>
				</tr>
					<tr>
						<th>상품 이름 <img src="/images/mone/star.gif" alt=""/></th>
						<td><input name="name" type="text" class="" th:value="${itemFormDto.name}" style="width:188px;"/></td>
					</tr>
					<tr>
						<th>category <img src="/images/mone/star.gif" alt=""/></th>
						<td>
							<select name="category" style="width:200px;">
								<option th:text="${itemFormDto.category}"></option>
								<option>페이스</option>
								<option>립</option>
								<option>아이</option>
								<option>치크</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>가격</th>
						<td><input name="price" type="text" th:value="${itemFormDto.price}"/></td>
					</tr>
					
					<tr>
						<th>Description</th>
						<td><textarea name="description" cols="50" rows="10" th:text="${itemFormDto.description}" ></textarea></td>
					</tr>
					
					<tr>
						<th>Status</th>
						<td>
							<select name="status" style="width:200px;">
								<option th:text="${itemFormDto.status}">Select Item</option>
								<option>SOLD_OUT</option>
								<option>SELL</option>
								<option>PREPARE</option>
							</select>
						</td>
					</tr>
					<tr id="box">
					
						<th>옵션 별 수량 추가</th>
					<td>
					<input type="button" value="추가" onclick="add_textbox()">
				  	</td>
					</tr>
					<tr id="imgbox">
						<th>사진</th>
						<td><input name="fileUpload" type="file" class="" style="width:188px;"/><input type="button" value="추가" onclick="add_imgbox()"></td>
					</tr>
					<tr th:each="option:${itemFormDto.options}">
						<th>옵션 별 수량 추가</th><td><input type="hidden" name="itemOptionId" th:value="${option?.itemOptionId}" ><input type='text' name='optionName' th:value="${option?.optionName}" class='optionName'><input type='text' name='quantity' th:value="${option?.quantity}" class='quantity'> <input type='button' value='삭제' onclick='opt_remove(this)'></td>
					</tr>
					<tr th:each="itemImg : ${itemImgDto}">
						<th>사진</th><td> <input type="hidden" name="itemImgId" th:value="${itemImg.itemImgId}" > <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="80"><input type='button' value='삭제' onclick='img_remove(this)'></td>
					</tr>

				</tbody>
	
				
			</table>

			
			<div class="brd_btn">
				<span class="right">
					<span class="btn_orange"><input type="submit"></span>
				</span>
			</div>
		</form>	
            <!-- table_detail -->

		</div>	 
		<!-- contents -->
		
	</div>
    <!-- container -->
   
    <!-- footer -->
    <div id="footer"></div>
    <!-- footer -->

</div>
</body>
<script>
	const add_textbox = () => {
   const box = document.getElementById("box");
    const newP = document.createElement("tr");

    newP.innerHTML = "<th>옵션 별 수량 추가</th><td><input type='text' name='optionName' class='optionName'><input type='text' name='quantity' class='quantity'> <input type='button' value='삭제' onclick='opt_remove(this)'></td>";
    box.parentElement.appendChild(newP);
    
}
const add_imgbox = () => {
   const box = document.getElementById("imgbox");
    const newP = document.createElement("tr");

    newP.innerHTML = "<th>사진</th><td><input name='fileUpload' type='file' class='' style='width:188px;'/><input type='button' value='삭제' onclick='img_remove(this)'></td>";
    box.parentElement.appendChild(newP);
    
}

const opt_remove = (obj) => {
     document.getElementById('box').parentElement.removeChild(obj.parentElement.parentElement);
}
const img_remove = (obj) => {
     document.getElementById('imgbox').parentElement.removeChild(obj.parentElement.parentElement);
}





</script>
</th:block>
</html>